.Button {
    border: none;
    background-color: inherit;
}

a.Button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1px 4px;

    &,
    &:visited {
        color: black;
    }
}
