@use 'src/style/colors.scss';
@use 'src/style/screen.scss';

button {
    font-family: 'DM Sans', sans-serif;
}

a.button {
    display: inline-flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    height: 48px;
    padding: 0 30px;
    background-color: colors.$black;
    color: colors.$textWhite;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-self: center;
    letter-spacing: 0.02em;
    text-transform: lowercase;

    &:hover {
        background-color: colors.$darkGrey;
    }

    &:disabled {
        background-color: colors.$textGrey;
    }

    img {
        margin-right: 15px;
    }

    &.blue {
        background-color: colors.$blue;
    }

    &.link,
    &.blue-link {
        background: none;
        color: colors.$textBlack;
        box-shadow: none;

        &:hover {
            color: colors.$hoverBlue;
            text-decoration: underline;
        }

        &:active {
            color: colors.$textBlack;
        }

        &:disabled {
            color: colors.$textGrey;
            text-decoration: none;
        }
    }

    &.blue-link {
        color: colors.$textBlue;
        padding: 0 20px;
    }

    @include screen.mobile {
        width: 100%;
        height: 54px;
    }
}
