.Modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    .modal-inner {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 40rem;
        max-height: 100%;
        min-height: 15rem;
        border: black 1.5px solid;
        border-radius: 0.2rem;
        padding: 0.25rem 2rem;
        background-color: white;
        overflow-y: auto;

        .Button.close {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        h2 {
            font-weight: bold;
            font-size: large;
            margin-bottom: 0.5rem;
        }
    }
}
